@using TorrentChain.Data.Utils;
@model TorrentChain.Web.Models.HomeViewModel;
<div>

    <div id="root"></div>


    <script src="/dist/app.js"></script>
    <!-- <form enctype="multipart/form-data" asp-controller="Home" asp-action="UploadTorrent">
        <input type="file" name="files" multiple />
        <input type="submit" value="Upload" />
    </form>
    <ul>
        @foreach (var item in Model.BlockChain)
        {
            <li>
                <div>
                    <strong>Index:</strong> <span>@item.Index</span>
                </div>
                <div>
                    <strong>Hash:</strong> <span>@Convert.ToBase64String(item.Hash.ToArray())</span>
                </div>
                <div>
                    <strong>Previous Hash:</strong> <span>@Convert.ToBase64String(item.PreviousHash.ToArray())</span>
                </div>
                <div>
                    <strong>Data:</strong> <span>@item.BlockData.Data.Count()</span>
                </div>
                <div>
                    <strong>Torrent Title:</strong> <span>@BlockUtils.GetTorrentTitle(item)</span>
                </div>
                <div>
                    <strong>Torrent Author:</strong> <span>@BlockUtils.GetTorrentAuthor(item)</span>
                </div>
                <div>
                    <strong>TimeStamp:</strong> <span>@item.TimeStamp.ToLocalTime()</span>
                </div>
            </li>
        }
    </ul> -->
</div>
